.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    /* float: right; */
}

.Button:first-of-type {
    margin-left: 0;
}

.Button:disabled {
    color: gray;
    cursor: not-allowed;
}

.Success {
    transition: all 0.25s ease-in-out;
    color: #5C9210;
}

.Danger {
    transition: all 0.25s ease-in-out;
    color: #944317;
}

.Success:hover, .Danger:hover {
    background-color: rgba(0, 0, 0, 0.125);
}