.BuildControls {
    width: 100vw;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 1.25px, 1px #CCCCCC;
    margin: auto;
    padding: 10px 0;
}
