.person-item {
    margin: 1rem;
    padding: .5rem;
    border: 1px solid blueviolet;
    cursor: pointer;
}
.person-item > p {
    transition: all 0.25s linear;
    padding: .25rem;
}
.person-item > p:hover {
    color: aliceblue;
    background-color: orangered;
}